@using Doctors.Base.Models
@model BlogDetail
@{
    ViewData["Title"] = "Chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var banner = (Banner)ViewBag.Banner;
    string pathImage = string.Empty;
    if (banner != null)
    {
        pathImage = "/Uploads/Banner/" + banner.Image;
    }
    else
    {
        pathImage = "/assets/img/bg/14.jpg";
    }
    var lstBlogByType = (List<BlogDetail>)ViewBag.ListBlofByType;
}

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="@pathImage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Chi tiết tin tức</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Trang chủ</a></li>
                            <li>Chi tiết tin tức</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->
<!-- PAGE DETAILS AREA START (blog-details) -->
<div class="ltn__page-details-area ltn__blog-details-area mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__blog-details-wrap">
                    @if (Model != null)
                    {
                        var item = Model;
                        <div class="ltn__page-details-inner ltn__blog-details-inner">
                            <h2 class="ltn__blog-title">
                                @item.Title
                            </h2>
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date">
                                        <i class="far fa-calendar-alt"></i>
                                        @(item.DateUp != null ? item.DateUp.Value.ToString("dd/MM/yyyy") : "")
                                    </li>
                                </ul>
                            </div>
                            @Html.Raw(item.Contentblog)
                        </div>
                    }
                    <hr>
                    @if (lstBlogByType != null && lstBlogByType.Count > 0)
                    {
                        <div class="related-post-area mb-50">
                            <h4 class="title-2">Bài viết liên quan</h4>
                            <div class="row">
                                @foreach (var blogType in lstBlogByType)
                                {
                                    <div class="col-md-6">
                                        <!-- Blog Item -->
                                        <div class="ltn__blog-item ltn__blog-item-6">
                                            <div class="ltn__blog-img">
                                                <a href="/Blog/Detail?Id=@blogType.Id"><img src="/Uploads/Blogs/@blogType.Cardimg" style="width:518px; height:416px;" alt="Image"></a>
                                            </div>
                                            <div class="ltn__blog-brief">
                                                <div class="ltn__blog-meta">
                                                    <ul>
                                                        <li class="ltn__blog-date ltn__secondary-color">
                                                            <i class="far fa-calendar-alt"></i>@(blogType.DateUp != null ? blogType.DateUp.Value.ToString("dd/MM/yyyy") : "")
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="ltn__blog-title">
                                                    <a href="/Blog/Detail?Id=@blogType.Id">
                                                        @blogType.Title
                                                    </a>
                                                </h3>
                                                <p>@blogType.Shortcontent</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
